In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("D:/Code/python/mat3533/practice02/data/real_estate.csv")
data.describe()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
count,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000
mean,207.500000,2013.148971,17.712560,1083.885689,4.094203,24.969030,121.533361,37.980193
std,119.655756,0.281967,11.392485,1262.109595,2.945562,0.012410,0.015347,13.606488
min,1.000000,2012.667000,0.000000,23.382840,0.000000,24.932070,121.473530,7.600000
25%,104.250000,2012.917000,9.025000,289.324800,1.000000,24.963000,121.528085,27.700000
50%,207.500000,2013.167000,16.100000,492.231300,4.000000,24.971100,121.538630,38.450000
75%,310.750000,2013.417000,28.150000,1454.279000,6.000000,24.977455,121.543305,46.600000
max,414.000000,2013.583000,43.800000,6488.021000,10.000000,25.014590,121.566270,117.500000

In [6]:
x_data = data.drop(['No', 'Y house price of unit area'], axis = 1)
y_data = [data['Y house price of unit area']]
x = np.array(x_data)
y = np.array(y_data).T

In [7]:
x_train = x[:350]
y_train = y[:350]
x_test = x[350:]
y_test = y[350:]

In [9]:
one = np.ones((x_train.shape[0], 1))
Xbar = np.concatenate((one, x_train), axis = 1)
A = np.dot(Xbar.T, Xbar)
b = np.dot(Xbar.T, y_train)
w = np.dot(np.linalg.pinv(A), b)
print("w = ", w)

w =  [[-4.18631068e-01]
 [ 3.87302266e+00]
 [-2.84659184e-01]
 [-5.28206341e-03]
 [ 1.12898737e+00]
 [ 2.35897329e+02]
 [-1.12253461e+02]]

In [10]:
one = np.ones((y_test.shape[0], 1))
Xbar = np.concatenate((one, x_test), axis = 1)
y_predict = np.dot(Xbar, w)
print(y_predict)

[[41.48522393]
 [34.63440599]
 [27.95994762]
 [37.25561901]
 [29.95162586]
 [48.67113776]
 [41.58733464]
 [52.22177166]
 [48.01982387]
 [24.93330378]
 [46.26236434]
 [39.83923773]
 [44.28065892]
 [49.18958342]
 [41.80089945]
 [31.56027918]
 [23.88468028]
 [32.23778426]
 [41.02891595]
 [29.35398532]
 [44.11623173]
 [44.53386628]
 [39.36959043]
 [45.23835976]
 [47.99502355]
 [28.61662084]
 [34.9994402 ]
 [49.5238461 ]
 [39.11518252]
 [50.80362378]
 [46.88659048]
 [54.92847835]
 [13.51320012]
 [37.43391679]
 [13.74534858]
 [51.72693931]
 [42.61160579]
 [32.26838522]
 [35.15472665]
 [39.92415893]
 [43.77483189]
 [28.5135949 ]
 [37.97111592]
 [42.7225403 ]
 [16.45503543]
 [39.62000964]
 [26.7466062 ]
 [45.0486091 ]
 [34.9994402 ]
 [41.35605816]
 [40.65625085]
 [34.54602111]
 [40.98253265]
 [45.49633081]
 [46.23187435]
 [38.40163422]
 [49.75184821]
 [23.11065613]
 [32.80437639]
 [14.93654155]
 [50.5193941 ]
 [46.6941569 ]
 [44.98800945]
 [53.48942871]]

In [11]:
sum_squar_residual = sum((y_test - y_predict)**2)
print(sum_squar_residual)

[4191.62745274]